@import '~@angular/material/prebuilt-themes/indigo-pink.css';


body{font-family: 'Raleway', sans-serif;}

.bi{
    background-image: url(./app/home-page/images/sfondo4.jpg);
height: 100%; 
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}